<div class="container px-3 mx-auto pt-4 md:pt-10 pb-10 space-y-4">
  <h1 class="font-bold text-3xl">Wallet</h1>
  <section class="grid grid-cols-[repeat(auto-fill,minmax(250px,1fr))] gap-5">
    <p-card>
      <div class="flex justify-between items-center">
        <p class="text-muted-color text-sm">Funding</p>
        <p-button (onClick)="showTopupFormModal.set(true)" severity="secondary" size="small" label="Top up"
          [text]="true" icon="pi pi-download" />
      </div>
      <h1 class="text-xl font-semibold">
        <span>
          @if (balances.isLoading()) {
          <p-progress-spinner strokeWidth="3" fill="transparent" animationDuration=".5s"
            [style]="{ width: '20px', height: '20px' }" />
          } @else {
          {{ balances.value()?.funding?.balance | number }}
          } credits
        </span>
      </h1>
    </p-card>
    <p-card>
      <div class="flex justify-between items-center">
        <p class="text-muted-color text-sm">Rewards</p>
        <p-button [disabled]="(balances.value()?.rewards?.balance ?? 0) <= 0" severity="secondary" size="small"
          label="Withdraw" [text]="true" icon="pi pi-upload" />
      </div>
      <h1 class="text-xl font-semibold">
        <span>
          @if (balances.isLoading()) {
          <p-progress-spinner strokeWidth="3" fill="transparent" animationDuration=".5s"
            [style]="{ width: '20px', height: '20px' }" />
          } @else {
          {{ balances.value()?.rewards?.balance | number }}
          } credits
        </span>
      </h1>
    </p-card>
  </section>
  <section>
    @let totalRecords = transfers.value()?.total ?? 0;
    <p-panel>
      <p-table [rows]="10" size="small" [scrollable]="true" scrollHeight="500px" [paginator]="true"
        (onPage)="onCurrentPageChanged($event)" [totalRecords]="totalRecords" dataKey="id"
        [value]="transfers.value()?.groups ?? []">
        <ng-template #header>
          <tr>
            <th style="width: 5rem"></th>
            <th># of Credits</th>
            <th># of Transactions</th>
            <th pSortableColumn="burst">Date</th>
          </tr>
        </ng-template>
        <ng-template #body let-transaction let-exp="expanded">
          <tr>
            <td><p-button type="button" [rounded]="true" size="small" [text]="true" [pRowToggler]="transaction"
                [plain]="true" [icon]="exp ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" /></td>
            <td class="font-semibold">{{ transaction.transferredCredits | number }}</td>
            <td>{{ transaction.transfers.length | number }}</td>
            <td>{{ transaction.burst | date }}</td>
          </tr>
        </ng-template>
        <ng-template #expandedrow let-transaction>
          <tr>
            <td colspan="4">
              <p-table dataKey="transaction" [value]="transaction.transfers">
                <ng-template pTemplate="header">
          <tr>
            <th style="width: 5rem"></th>
            <th>Credits </th>
            <th>Status</th>
            <th>Type</th>
            <th>Payment</th>
            <th>Time</th>
            <!-- <th></th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-transfer>
          <tr>
            <td></td>
            <td class="font-semibold">{{ transfer.credits | number }}</td>
            <td><p-tag [severity]="transferStatusText(transfer.status)">{{ transfer.status }}</p-tag></td>
            <td><p-tag [severity]="transferTypeText(transfer.type)">{{ transfer.type }}</p-tag></td>
            <td>@if(transfer.payment){
              <div class="inline-flex items-center gap-1">
                <span class="hidden md:inline text-sm text-muted-color">|</span>
                <span class="text-muted-color text-xs">{{ transfer.payment.amount |
                  currency:transfer.payment.currency:'symbol' }}</span>
                <i class="pi pi-circle-fill text-[3px] text-muted-color"></i>
                <span class="text-muted-color text-xs">{{ transfer.payment.status }}</span>
              </div>
              } @else {
              N/A
              }
            </td>
            <td>{{ transfer.recordedAt | date:'HH:mm' }}</td>
          </tr>
        </ng-template>
      </p-table>
      </td>
      </tr>
      </ng-template>
      <ng-template #caption>
        <div class="flex justify-between items-start">
          <div class="flex items-center gap-2">
            <h1 class="font-semibold text-lg">Transfers</h1>
            @if(transfers.isLoading()) {
            <p-progress-spinner strokeWidth="3" fill="transparent" animationDuration=".5s"
              [style]="{ width: '20px', height: '20px' }" />
            }
          </div>
        </div>
      </ng-template>
      </p-table>
    </p-panel>
  </section>

  <p-drawer styleClass="w-full md:w-80 lg:w-[30rem]" (onShow)="publicationModalShown()"
    (onHide)="publicationModalHidden()" [(visible)]="showTopupFormModal" [modal]="true" position="right">
    <ng-template #header>
      <h1 class="text-lg font-bold">Top up your Account</h1>
    </ng-template>
    <tm-top-up-form [initialCurrency]="prefs().currency" (error)="onTopUpFormErrored($event)"
      (onSubmit)="onTopUpFormSubmitted()" />
  </p-drawer>

</div>
