<form (ngSubmit)="onFormSubmit($event)" [formGroup]="form" class="grid grid-cols-[auto_1fr] gap-3">
  <div>
    <label class="font-medium" for="new_campaign_title">Title <span class="text-red-500">*</span></label>
  </div>
  <div class="space-y-1">
    <p-fluid>
      <input size="small" formControlName="title" pInputText>
    </p-fluid>
    @if(form.controls.title.dirty && form.controls.title.invalid) {
    <p-message size="small" variant="simple" severity="error">
      This field is required
    </p-message>
    }
  </div>
  <div class="col-span-2">
    <p-button type="submit" (onClick)="onCreateCampaignButtonClicked()" [disabled]="form.invalid || submitting()"
      size="small" styleClass="w-full inline-block">
      @if(submitting()) {
      Saving...
      }@else {
      Save
      }
    </p-button>
  </div>
</form>
